<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css-VERSION.min.css"/>
    <h1> Bienvenue sur The Gossip Project</h1>
  </head>
</html>
